<h2 class="vocab flex mt-10">animal Vocab</h2>
<h3 class="vocab flex mt-10">What is it?</h3>

<div class="animals container mb-10 ">
    <ul class="cardscontainer">
        <li class="thecard" data-animal="cat">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/cat-85.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="cat">
            <div class="thefront">
                <ion-icon name="help-outline"
                ></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/cat-85.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="antelope">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/antelope.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="antelope">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/antelope.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="chicken">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/chicken_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="chicken">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/chicken_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="mouse">
            <div class="thefront">
                <ion-icon name="help-outline"
                ></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/mouse_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="mouse">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/mouse_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="pBear">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/pBear_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="pBear">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/pBear_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="ant">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/ant_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="ant">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/ant_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="seagull">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/seagull_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="seagull">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/seagull_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="croc">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/croc_sm.png" alt="cardimg">
            </div>
        </li>
        <li class="thecard" data-animal="croc">
            <div class="thefront">
                <ion-icon name="help-outline"></ion-icon>
            </div>
            <div class="theback">
                <img src="../images/animals/croc_sm.png" alt="cardimg">
            </div>
        </li>
    
    </ul>
    
</div>

<script src="../js/mem.js"></script>